@page
@using PizzaDeliveryRazorPages.Pages.Shared
@model PizzaDeliveryRazorPages.Pages.Checkout.Checkout

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">ThankYou</a>
