@page
@model PizzaDeliveryRazorPages.Pages.Checkout.ThankYou

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>